h1{
    text-align: right;
}h2{
    text-align: center;
    width: 300px;
}tr{
    width: 500px;
}th{
    text-align-last: left;
}td{
    text-align: center;
}p{
    width: 300px;
    text-align: justify;
}